.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 24px;
  width: 100%;
}

.cards > ul > li {
  position: relative;  /* Allows text to be positioned over the image */
  border: 1px solid #dadada;
  background-color: var(--background-color);
  overflow: hidden;  /* Prevents overflow */
}

.cards .cards-card-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.cards > ul > li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.cards .cards-card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 16px;
  background: none /* Semi-transparent overlay */
}

.cards .cards-card-body h2 {
  font-size: 1.5em; /* Adjust this value as needed */
  font-weight: bold; /* Optional: Makes the heading stand out */
  margin: 0;
  padding: 8px;
  z-index: 2; /* Ensures text is on top */
}

.cards .cards-card-body p {
  margin: 0;
  padding: 8px;
  font-size: 1.2em; /* Keeping paragraph size the same */
  z-index: 2;
}
