
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
}

.cards > ul > li {
  position: relative; 
  background-color: var(--background-color);
}

.cards .cards-card-image {
  position: relative;
  
}

.cards > ul > li img {
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.cards .cards-card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.cards .cards-card-body h2 {
  margin: 0;
  font-weight:400;
  padding: 4px;
}

.cards .cards-card-body p {
  margin: 0;
  font-weight: 400;
}

@media (min-width: 360px) {
  .cards > ul {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 16px;
  }
  .cards .cards-card-body {
      padding: 24px 12px;
  }
  .cards .cards-card-body h2 {
      font-size: 1.5em;
  }
  .cards .cards-card-body p {
      font-size: 0.7em;

  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .cards > ul {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
  .cards .cards-card-body {
      padding: 32px 16px;
  }
  .cards .cards-card-body h2 {
      font-size: 2.8em;
  }
  .cards .cards-card-body p {
      font-size: 0.9em;
  }
}

@media (min-width: 900px) {

      .cards > ul {
          grid-template-columns: repeat(3, minmax(280px, 1fr));
          grid-gap: 10px;
      }
      .cards .cards-card-body {
          padding: 30px 10px;
      }
      .cards .cards-card-body h2 {
          font-size: 3.4em;
      }
      .cards .cards-card-body p {
          font-size:0.9em;
      }
  }


