.columns > div {
  display: flex;
}


.columns > div > div {
  order: 0;
}

.columns > div > .columns-img-col {
  order: 1;
}

.columns h2{
  font-weight: 400;
  padding:12px;

}
.columns h3{
  font-weight: 400;
  margin-top: 5px;

}
.columns p{
  font-weight:400;

}
.columns a{
  font-size: 1.1em;
  background-color: transparent;
  color: rgb(17, 24, 39);
  text-decoration: underline;
  cursor: pointer;
  

}

@media (min-width: 360px) {
  .columns > div {
    flex-direction: column;
    padding:15px;
    text-align: center;
  }

  .columns h2 {
    font-size: 1.4em;
    
  }
  .columns h3 {
    font-size: 1.2em;
  }

  .columns p {
    font-size: 0.7em;
  }
}

@media (min-width: 600px) and (max-width: 899px) {

  .columns > div > .columns-img-col img {
    width: 70%;
    height: 270px;
    margin-top: 40px;
  }

  .columns h2, .columns h3, .columns p {
    text-align:center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 800px) {
    .columns > div {
      flex-direction: row; 
      align-items: center;
    }

    .columns > div > .columns-img-col {
      order: 1; 
    }
    .columns p {
      max-width: 90%; 
      text-align: center; 
    }

    .columns > div > .columns-img-col img {
      width: 90%;
      height: 250px;
      margin-left: 20px;
    }
  }
}
@media (min-width: 900px) {
  .columns > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0;
  }

  .columns h2 {
    font-size: 3.4em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 auto;
  }

  .columns h3 {
    font-size: 2.6em;
    font-weight: 400;
    margin-top: 10px;
  }

  .columns p {
    font-size: 0.815em;
    max-width: 85%;
    margin: 10px auto;
    line-height: 1.5;
  }

  
}
